.places__like {
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  background-size: center;
  width: 22px;
  height: 19px;
  border: 0;
  background-color: transparent;
}

.places__like:hover {
  opacity: .5;
  cursor: pointer;
}

.places__like:focus {
  outline: none;
}
