.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px auto 50px auto;
}

@media screen and (max-width: 670px) {
  .profile {
    flex-direction: column;
  }
}
