.profile__info {
  max-width: 473px;
}

@media screen and (max-width: 520px) {
  .profile__info {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 300px;
  }
}
